.tonglan { width: 100%; min-width: 1200px; }
.w { width: 1200px; margin: 0 auto; }
.v-middle {
	font-size: 0;
}
.v-middle>* {
	display: inline-block;
	vertical-align: middle;
}
.v-middle::after {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}






/* 固定的页头页脚 */
/* fix-top */
header.fix-top {
  display: none;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 10;
  /* transition: all 0.5s; */
  box-shadow: 0 3px 3px 0 #ccc;
  background-color: #fff;
}
/* fix-top-left */
.fix-top-left {
  font-size: 0;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
}
.fix-top-left>div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin-right: 25px;
  position: relative;
}
.fix-top-left>div>h4 {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 3px;
  font-weight: 400;
  color: #333;
}
.fix-top-left>div>i {
  /* padding: 2px 12px; */
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 24px;
  height: 100%;
  font-weight: 600;
  color: #aaa;
}
.fix-top-left>div:hover>i {
  color: #fff;
  background-color: #ff3d3d;
}





/**
    动态渲染
*/
.fix-top-left>div:hover>ul.fix-top-main {
  display: block;
}
.fix-top-left>div>ul.fix-top-main {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  width: 400%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ff3d3d;
  box-shadow: 0 0 5px 0 #ff3d3d;
}
.fix-top-left>div>ul.fix-top-main>li {
  line-height: 14px;
}
.fix-top-left>div>ul.fix-top-main>li>a {
  display: block;
}
.fix-top-left>div>ul.fix-top-main>li:hover>a {
  background-color: rgba(255, 255, 255, 0.3);
}
.fix-top-left>div>ul.fix-top-main>li>a>span.bg {
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-image: url('../../images/home/sprite.png');
  background-repeat: no-repeat;
}
.fix-top-left>div>ul.fix-top-main>li>a>span.font {
  height: 32px;
  line-height: 32px;
  padding-left: 5px;
  font-size: 13px;
  color: #fff;
}
.fix-top-left>div>ul.fix-top-main>li:hover>ul {
  display: block;
}
.fix-top-left>div>ul.fix-top-main>li>ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 2px;
  height: 100%;
  z-index: 20;
  writing-mode: vertical-lr;
  box-shadow: 0 0 5px 0 #ccc;
  background-color: #fff;
}
.fix-top-left>div>ul.fix-top-main>li>ul>li {
  box-sizing: border-box;
  display: inline-block;
  height: 20%;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 13px;
  cursor: auto;
  writing-mode: horizontal-tb;
  background-color: #fff;
  color: #999;
}
.fix-top-left>div>ul.fix-top-main>li>ul>li>a {
  display: inline-block;
  font-size: 13px;
  color: #999;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0 50px;
}
.fix-top-left>div>ul.fix-top-main>li>ul>li>a>img {
  width: 30px;
  padding-right: 20px;
  vertical-align: middle;
}
.fix-top-left>div>ul.fix-top-main>li>ul>li>a>span {
  vertical-align: middle;
}
.fix-top-left>div>ul.fix-top-main>li>ul>li>a:hover {
  text-decoration: underline;
  color: #ff3d3d;
  border: 1px solid rgb(214, 34, 51);
}
.fix-top-left>a {
  display: inline-block;
  vertical-align: middle;
}
.fix-top-left>a>img {
  width: 122px;
}
/* fix-top-right */
.fix-top-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 300px;
}
.fix-top-right>.fix-search {
  display: inline-block;
  margin-right: 100px;
}
.fix-top-right>.fix-search>input {
  outline: none;
  border: #ff3d3d 2px solid;
  text-indent: 1em;
  width: 426px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fix-top-right>.fix-search>span {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  width: 80px;
  text-align: center;
  position: relative;
  top: 0;
  left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #ff3d3d;
}
/* fix-login */
.fix-top-right>.fix-login {
  display: none;
}
.fix-top-right>.fix-login>a {
  font-size: 15px;
  color: #666666;
}
.fix-top-right>.fix-login>a:hover {
  color: rgb(255, 111, 111);
}
.fix-top-right>.fix-login>b {
  font-size: 14px;
  font-weight: 300;
  padding: 0 10px;
  color: #666666;
}
/* fix-user */
.fix-top-right>.fix-user.show,
.fix-top-right>.fix-login.show {
  display: inline-block;
}
.fix-top-right>.fix-user {
  display: none;
}
.fix-top-right>.fix-user>a>img {
  margin-left: 30px;
  border-radius: 50%;
  width: 50px;
}









/* 顶部 */
.header {}
/* header-top */
.header-top {
  /* overflow: hidden; */
  height: 32px;
  background-color: #f7f7f7;
  border-top: 1px solid #c7c7c7;
}
/* header-top-left */
.header-top>div>.header-top-left {
  float: left;
}
.header-top>div>.header-top-left>img {}
.header-top>div>.header-top-left>h4 {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #8d8d8d;
}
.header-top>div>.header-top-left>a {
  font-size: 12px;
  color: #666666;
}
.header-top>div>.header-top-left>a:hover {
  color: rgb(255, 111, 111);
}
.header-top>div>.header-top-left>ul {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}
.header-top>div>.header-top-left>ul>li {
  padding-right: 10px;
  position: relative;
  z-index: 5;
}
.header-top>div>.header-top-left>ul:hover>li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #fff;
}
.header-top>div>.header-top-left>ul>li:hover {
  background-color: white;
  box-shadow: 0 0 3px 0 #999;
}
.header-top>div>.header-top-left>ul>li>a {
  font-size: 12px;
  color: #666666;
  padding-left: 10px;
  border-left: 1px solid #666;
}
.header-top>div>.header-top-left>ul>li>a>i {
  padding-left: 6px;
  font-size: 10px;
}
.header-top>div>.header-top-left>ul:hover>li>a {
  border-left: 1px solid #fff;
}
.header-top>div>.header-top-left>ul>li>a:hover {
  color: rgb(255, 111, 111);
}
.header-top>div>.header-top-left>ul>li:hover>ul {
  display: block;
}
.header-top>div>.header-top-left>ul>li>ul {
  display: none;
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  writing-mode: vertical-lr;
  box-shadow: 0 0 3px 0 #999;
  background-color: white;
}
.header-top>div>.header-top-left>ul>li>ul>li {
  display: inline-block;
  box-sizing: border-box;
  height: 50%;
  line-height: 30px;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
  writing-mode: horizontal-tb;
}
.header-top>div>.header-top-left>ul>li>ul>li>a {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
}
.header-top>div>.header-top-left>ul>li>ul>li>a:hover {
  color: rgb(255, 111, 111);
}
/* header-top-right */
.header-top>div>.header-top-right {
  float: right;
}
.header-top-right>ul {
  font-size: 0;
  height: 32px;
}
.header-top-right>ul>li {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  line-height: 32px;
  position: relative;
}
.header-top-right>ul>li:hover {
  background-color: #fff;
  box-shadow: 0 0 3px #999;
}
.header-top-right>ul>li>a {
  font-size: 12px;
  padding: 0 5px;
  color: #666;
}
.header-top-right>ul>li.login>.regist {
  display: none;
  height: 32px;
}
.header-top-right>ul>li.login>.regist>a {
  font-size: 12px;
  padding: 0 5px;
  color: #666;
}
.header-top-right>ul>li.login>.regist>a:hover {
  color: rgb(255, 111, 111);
}
.header-top-right>ul>li.login>.regist>a>span {
  padding-right: 6px;
  font-size: 13px;
}
.header-top-right>ul>li.login>.user {
  display: none;
  height: 32px;
}
.header-top-right>ul>li.login>.regist.show,
.header-top-right>ul>li.login>.user.show {
  display: block;
}
.header-top-right>ul>li.login>.user>a {
  font-size: 12px;
  padding: 0 5px;
  color: #666;
}
.header-top-right>ul>li.login>.user>a:hover {
  color: rgb(255, 111, 111);
}
.header-top>div>.header-top-right>ul>li>a>i {
  padding-left: 6px;
  font-size: 6px;
  vertical-align: middle;
}
.header-top>div>.header-top-right>ul>li>a>span {
  font-size: 13px;
  padding-right: 5px;
}
.header-top-right>ul>li>a:hover {
  color: rgb(255, 111, 111);
}
.header-top-right>ul>li>b {
  display: none;
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  z-index: 13;
  width: 100%;
  height: 3px;
  background-color: #FFF;
}
.header-top-right>ul>li:hover>b {
  display: block;
}
/* bl */
.header-top-right>ul>li>dl.bl {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 12;
  box-shadow: 0 0 3px 0 #999;
  background-color: #fff;
}
.header-top-right>ul>li:hover>dl.bl {
  display: block;
}
.header-top-right>ul>li>dl.bl>dd {
  width: 100%;
  line-height: 20px;
}
.header-top-right>ul>li>dl.bl>dd>a {
  font-size: 12px;
  padding-left: 10px;
  color: #666;
}
.header-top-right>ul>li>dl.bl>dd>a:hover {
  color: rgb(255, 111, 111);
}
/* jiaofei */
.header-top-right>ul>li>dl.jiaofei {
  display: none;
  font-size: 0;
  position: absolute;
  top: 100%;
  z-index: 12;
  left: -180%;
  width: 500%;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #999;
}
.header-top-right>ul>li:hover>dl.jiaofei {
  display: block;
}
.header-top-right>ul>li>dl.jiaofei>h4 {
  font-size: 14px;
}
.header-top-right>ul>li>dl.jiaofei>dd {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  padding-left: 10px;
  font-size: 12px;
  vertical-align: top;
}
.header-top-right>ul>li>dl.jiaofei>dd>dl>dd>a {
  color: #666;
}
.header-top-right>ul>li>dl.jiaofei>dd>dl>dd>a:hover {
  color: rgb(255, 111, 111);
}

/* header-middle */
.header-middle {
  margin-top: 18px;
}
/* header-middle-left */
.header-middle>.header-middle-left {
  float: left;
  font-size: 0;
}
.header-middle>.header-middle-left>a {
  display: inline-block;
  margin-right: 50px;
}
/* header-middle-right */
.header-middle>.header-middle-right {
  overflow: hidden;
}
/* header-middle-search */
.header-middle>.header-middle-right>.header-middle-search {}
.header-middle>.header-middle-right>.header-middle-search>input {
  outline: none;
  border: #ff3d3d 2px solid;
  text-indent: 1em;
  height: 40px;
  width: 426px;
}
.header-middle>.header-middle-right>.header-middle-search>span {
  display: inline-block;
  height: 100%;
  width: 85px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #ff3d3d;
}
.header-middle>.header-middle-right>.header-middle-search>a {
  display: inline-block;
  height: 100%;
  width: 120px;
  line-height: 40px;
  font-size: 12px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  margin-left: 80px;
  text-align: center;
  color: #666666;
}
.header-middle>.header-middle-right>.header-middle-search>a:hover {
  border-color: #ff3d3d;
  color: #ff3d3d;
}
/* header-middle-font */
.header-middle>.header-middle-right>.header-middle-font {}
.header-middle>.header-middle-right>.header-middle-font>a {
  font-size: 12px;
  color: #999;
}
.header-middle>.header-middle-right>.header-middle-font>a:hover {
  color: rgb(255, 111, 111);
  text-decoration: underline;
}
.header-middle>.header-middle-right>.header-middle-font>span {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 2px;
  color: #999;
}

/* header-bottom */
.header-bottom {
  margin-top: 24px;
}
.header-bottom>div {
  height: 35px;
}
/* header-bottom-left */
.header-bottom>div>.header-bottom-left {
  float: left;
  font-size: 0;
  width: 190px;
  height: 100%;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ff3d3d;
}
.header-bottom>div>.header-bottom-left>i {
  font-size: 24px;
  height: 100%;
  line-height: 35px;
  padding-left: 10px;
  vertical-align: middle;
  color: white;
}
.header-bottom>div>.header-bottom-left>h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  vertical-align: middle;
  color: white;
}


/**
    动态渲染页面
*/
.header-bottom>div>.header-bottom-left:hover>ul.header-main {
  display: block;
}
.header-bottom>div>.header-bottom-left>ul.header-main {
  display: none;
  position: relative;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff3d3d;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li {
  line-height: 32px;
  cursor: pointer;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header-bottom>div>.header-bottom-left>ul.header-main>li:hover>a>span.font {
  text-decoration: underline;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>a>span.bg {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url('../../images/home/sprite.png');
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>a>span.font {
  font-size: 13px;
  color: #fff;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>a {
  margin-left: 10px;
  display: block;
}
/**
    动态渲染二级标题
*/
.header-bottom>div>.header-bottom-left>ul.header-main>li:hover>ul {
  display: block;
	border-radius: 10px;
	background-color: #fff;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul {
  font-size: 0;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  writing-mode: vertical-lr;
  box-shadow: 0 0 5px 0 #ccc;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li {
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
  height: 20%;
  width: calc(1200px / 6);
  writing-mode: horizontal-tb;
  cursor: auto;
  color: #666;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li:hover {}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li>a {
  font-size: 14px;
  color: #666;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0 50px;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li>a>span {
  vertical-align: middle;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li>a>img {
  width: 30px;
  vertical-align: middle;
  padding-right: 20px;
}
.header-bottom>div>.header-bottom-left>ul.header-main>li>ul>li>a:hover {
  text-decoration: underline;
  color: #e6133c;
  border-color: #e6133c;
}




/* header-bottom-right */
.header-bottom>div>.header-bottom-right {
  overflow: hidden;
  height: 35px;
}
.header-bottom>div>.header-bottom-right>ul {
  font-size: 0;
}
.header-bottom>div>.header-bottom-right>ul>li {
  display: inline-block;
  padding: 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}
.header-bottom>div>.header-bottom-right>ul>li>span.top-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  transform: skewX(85deg);
  transition: all 0.3s;
  border-top: 1px solid rgb(255, 111, 111);
  border-bottom: 1px solid rgb(255, 111, 111);
}
.header-bottom>div>.header-bottom-right>ul>li:hover>span.top-bottom {
  transform: skewX(0);
}
.header-bottom>div>.header-bottom-right>ul>li>span.left-right {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: 100%;
  transform: skewY(50deg);
  transition: all 0.3s;
  border-left: 1px solid rgb(255, 111, 111);
  border-right: 1px solid rgb(255, 111, 111);
}
.header-bottom>div>.header-bottom-right>ul>li:hover>span.left-right {
  transform: skewY(0);
}
.header-bottom>div>.header-bottom-right>ul>li>a {
  display: block;
  position: relative;
  z-index: 5;
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  line-height: 35px;
  color: #333;
  transition: all 0.5s ease-out;
}
.header-bottom>div>.header-bottom-right>ul>li:hover>a {
  color: rgb(255, 111, 111);
}









/* 页脚 */
.footer {
  margin-top: 30px;
  background-color: #f3f3f3;
}
/* footer-help */
.footer-help {
  padding-top: 24px;
}
.footer-help>ul {
  font-size: 0;
}
.footer-help>ul>li {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  width: 20%;
}
.footer-help>ul>li>span.help-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: baseline;
  background-image: url('../../images/home/sprite1.png');
}
.footer-help>ul>li:nth-child(1)>span.help-img { background-position-y: 0px; }
.footer-help>ul>li:nth-child(2)>span.help-img { background-position-y: -40px; }
.footer-help>ul>li:nth-child(3)>span.help-img { background-position-y: -80px; }
.footer-help>ul>li:nth-child(4)>span.help-img { background-position-y: -120px; }
.footer-help>ul>li:nth-child(5)>span.help-img { background-position-y: -160px; }
.footer-help>ul>li>.help-font {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
}
.footer-help>ul>li>.help-font>h4 {
  font-size: 16px;
  font-weight: 400;
}
.footer-help>ul>li>.help-font>a {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #555555;
}
.footer-help>ul>li>.help-font>a:hover {
  text-decoration: underline;
  color: red;
}
/* footer-benefit */
.footer-benefit {
  text-align: center;
  margin-top: 24px;
  padding-bottom: 16px;
}
.footer-benefit>a {
  display: inline-block;
}
.footer-benefit>a>img {
  margin: 0 10px;
}
/* footer-bottom */
.footer-bottom {
  text-align: center;
  padding-bottom: 20px;
}
.footer-bottom>a {
  font-size: 12px;
  color: #333;
}
.footer-bottom>a:hover {
  color: red;
}
.footer-bottom>p {
  color: #999999;
  font-size: 12px;
  margin-top: 5px;
}
.footer-bottom>img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.footer-bottom>span {
  font-size: 12px;
  vertical-align: middle;
  color: #666;
}





/* TOP 返回顶部 */
.aside-top {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 5%;
  text-align: center;
  background-color: #eee;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.aside-top:hover {
  background-color: #ff6f6f;
}
.aside-top:hover>i,
.aside-top:hover>span {
  color: #fff;
}
.aside-top>i {
  font-size: 20px;
  color: #999;
}
.aside-top>span {
  color: #999;
}






/* 侧边栏 */
.aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  background-color: #f6f6f6;
}

/* aside-left */
.aside>.aside-left {
  position: absolute;
  left: -38px;
  top: 0;
  bottom: 0;
  width: 38px;
  background-color: #000;
}
.aside>.aside-left>ul {
  width: 100%;
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aside>.aside-left>ul>li {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.aside>.aside-left>ul>li:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
}
.aside>.aside-left>ul>li>a {
  display: block;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.aside>.aside-left>ul>li:hover>a {
  background-color: rgb(214, 34, 51);
}
.aside>.aside-left>ul>li>a>i {
  font-size: 28px;
  color: #ccc;
}
/* show-red */
.aside-left>ul>li.show-red>a { background-color: rgb(214, 34, 51); }
/* aside-cart */
.aside>.aside-left>ul>li.cart {
  position: relative;
}
.aside>.aside-left>ul>li.cart::before {
  content: '';
  border: none;
  position: absolute;
  left: -5px;
  height: 100%;
  width: 5px;
  cursor: pointer;
  background-color: rgb(214, 34, 51);
}
.aside>.aside-left>ul>li.cart::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: -1;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #666;
  transform: translateY(50%);
}
.aside>.aside-left>ul>li.cart:hover::before {
  background-color: rgb(214, 34, 51);
}
.aside>.aside-left>ul>li.cart>a {
  padding: 20px 0;
  font-size: 14px;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  color: #fff;
}
.aside>.aside-left>ul>li.cart>a>i {
  font-size: 24px;
}
.aside>.aside-left>ul>li.cart>a>span {
  color: #fff;
}
.aside>.aside-left>ul>li.cart>a>b {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(214, 34, 51);
}
.aside>.aside-left>ul>li>span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50%;
  padding: 8px 0;
  overflow: hidden;
  transition: all 0.3s;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 5px 0 #aaa;
  background-color: #fff;
}
.aside>.aside-left>ul>li:hover>span {
  width: 200%;
  left: -200%;
}
/* aside-right */
.aside>.aside-right {
  position: relative;
  top: 0;
  left: 0;
  width: 276px;
  height: 100%;
  margin-right: -276px;
  transition: all 0.4s;
}
/* active */
.aside>.aside-right.active {
  margin-right: 0;
}
/* aside-right-login */
.aside>.aside-right>.login {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* display: none; */
}
.aside>.aside-right>.login>.dlfs {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.aside>.aside-right>.login>.dlfs>span {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin: 0 10px;
  cursor: pointer;
}
.aside>.aside-right>.login>.dlfs>span.saoma {
  color: #ff4a4a;
}
.aside>.aside-right>.login>.dlnr {
  width: 100%;
  text-align: center;
}
.aside>.aside-right>.login>.dlnr>.content1 {
  display: block;
}
.aside>.aside-right>.login>.dlnr>.content1>img {
  width: 140px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.aside>.aside-right>.login>.dlnr>.content1>p {
  font-size: 12px;
  margin-bottom: 20px;
}
.aside>.aside-right>.login>.dlnr>.content1>p>span {
  color: red;
}
.aside>.aside-right>.login>.dlnr>.content1>div {
  font-size: 14px;
  color: #999;
}
.aside>.aside-right>.login>.dlnr>.content1>div>i {
  font-size: 20px;
  padding: 0 5px 0 10px;
}
.aside>.aside-right>.login>.dlnr>.content1>div>i:nth-child(3) {
  font-size: 16px;
}
.aside>.aside-right>.login>.dlnr>.content2 {
  display: none;
}
.aside>.aside-right>.login>.dlnr>.content2>input {
  width: 200px;
  height: 30px;
  margin: 5px 0;
  text-indent: 1em;
  outline: none;
}
.aside>.aside-right>.login>.dlnr>.content2>input.yanzhengma {
  width: 145px;
}
.aside>.aside-right>.login>.dlnr>.content2>span {
  display: inline-block;
  width: 50px;
  cursor: pointer;
}
.aside>.aside-right>.login>.dlnr>.content2>a {
  display: block;
  font-size: 12px;
  text-align: right;
  margin: 10px 0;
  color: #666;
}
.aside>.aside-right>.login>.dlnr>.content2>input[type=button] {
  text-indent: 0;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #E6133c;
}
.aside>.aside-right>.login>.dlnr>.content2>input[type=button]:hover {
  background-color: #f12f59;
}
.aside>.aside-right>.login>a {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #0088cc;
  margin: 30px 0;
}
.aside>.aside-right>.login>a:hover {
  text-decoration: underline;
}
.aside>.aside-right>.login>p {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
  color: #999;
}
.aside>.aside-right>.login>.qtzh {
  margin-top: 10px;
}
.aside>.aside-right>.login>.qtzh>span {
  display: inline-block;
  width: 66px;
  height: 22px;
  margin-left: 17px;
  background-repeat: no-repeat;
  background-position: 0 -22px;
}
.aside>.aside-right>.login>.qtzh>span:hover {
  cursor: pointer;
  background-position: 0 0;
}
.aside>.aside-right>.login>.qtzh>span:nth-child(1) {
  background-image: url('../../images/home/aside_logo1.png');
}
.aside>.aside-right>.login>.qtzh>span:nth-child(2) {
  background-image: url('../../images/home/aside_logo2.png');
}
.aside>.aside-right>.login>.qtzh>span:nth-child(3) {
  background-image: url('../../images/home/aside_logo3.png');
}


/* aside-right-user */
.aside-right>.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* user-top */
.aside-right>.user>.user-top {
  text-align: center;
}
.aside-right>.user>.user-top>a {}
.aside-right>.user>.user-top>a>img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.aside-right>.user>.user-top>a>span {
  color: #000;
}
.aside-right>.user>.user-top>a>span:hover {
  color: rgb(214, 34, 51);
}
/* user-bottom */
.aside-right>.user>.user-bottom {
  margin-top: 50px;
  text-align: center;
}
.aside-right>.user>.user-bottom>a {
  display: block;
  margin: 10px 0;
  color: #333;
}
.aside-right>.user>.user-bottom>a:hover {
  color: rgb(214, 34, 51);
}
.aside-right>.user>.user-bottom>a>i {
  padding-right: 5px;
}

/* aside-right-cart */
.aside-right>.cart {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
/* cart-top */
.aside-right>.cart>.cart-top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 90px;
}
/* cart-empty */
.aside-right>.cart>.cart-top>.cart-empty {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #666;
  text-align: center;
}
.aside-right>.cart>.cart-top>.cart-empty.show {
  display: block;
}
.aside-right>.cart>.cart-top>.cart-empty>img {}
.aside-right>.cart>.cart-top>.cart-empty>h3 {
  font-size: 16px;
  text-align: center;
}
.aside-right>.cart>.cart-top>.cart-empty>h4 {
  font-size: 14px;
  text-align: center;
}
/* cart-list */
.aside-right>.cart>.cart-top>.cart-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
}
.aside-right>.cart>.cart-top>.cart-list.show {
  display: block;
}
.aside-right>.cart>.cart-top>.cart-list>div {
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #f2f2f2;
  color: #666;
}
.aside-right>.cart>.cart-top>.cart-list>div>i {
  font-size: 30px;
}
.aside-right>.cart>.cart-top>.cart-list>table {
  display: block;
  border-spacing: 0;
  width: 100%;
}
/* tbody */
.aside-right>.cart>.cart-top>.cart-list>table>tbody {
  display: block;
  height: 580px;
  overflow-y: auto;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr {}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td {
  padding: 5px;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>a>img {
  width: 48px;
  border: 1px solid #ccc;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>div {
  font-size: 12px;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>div>a {
  display: block;
  margin-bottom: 10px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>div>a:hover {
  color: #e6133c;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>div>span.price {
  margin-right: 5px;
}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>div>span.count {}
.aside-right>.cart>.cart-top>.cart-list>table>tbody>tr>td>span.total {
  padding-left: 50px;
  font-size: 12px;
  color: #d20;
}
/* cart-bottom */
.aside-right>.cart>.cart-bottom {
  text-align: center;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
}
.aside-right>.cart>.cart-bottom>.cart-account-wrapper {
  margin: 10px 0;
  font-size: 12px;
  padding-left: 10px;
  text-align: left;
}
.aside-right>.cart>.cart-bottom>.cart-account-wrapper>span {
  color: #D20000;
}
.aside-right>.cart>.cart-bottom>a {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 600;
  display: block;
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #d62233;
  color: white;
}