/* common */
* {
  padding: 0;
  margin: 0;
  user-select: none;
}
/* 清除下划线 */
a {
  text-decoration: none;
}
/* 清除列表项 */
ul {
  list-style: none;
}
/* 清除浮动 */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}